.react-sortable {
  margin: 0;
  padding: 1em;
  font-size: 100%;
  font-weight: 100;
  line-height: 1;
  color: #666;
}

ul { 
  list-style: none; 
  margin:0; 
  padding:0
}

li {
  padding: 1em; 
  background:#eee
}

li.placeholder { 
  background: #03CC85;
}

li.placeholder:before {
  content: "Drop here"; 
  color: #666;
}
